.contact {
    &__heading {
        margin: 40px 0;
    }
    &__form {
        margin: 20px 0;
    }
    &__name,
    &__email,
    &__message {
        margin-bottom: 10px;
    }
    &__other {
        display: inline-block;
    }
    label {
        margin-right: 10px;
        margin-bottom: 8px;
    }
    input, textarea {
        padding: 6px 12px;
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 1.43;
        vertical-align: middle;
        background-color: $label-color-background;
        border: 1px solid $label-color-border;
        border-radius: 4px;
        &:focus {
            background-color: $label-color-background-focus;
            border: 1px solid $label-color-border-focus;
            outline: none;
            transition: all ease-in-out .15s;
        }
    }
    textarea {
        min-height: 130px;
    }
    ::placeholder {
        color: $label-color-border-focus;
        opacity: 1;
    }
}