$body-color: #666;
$border-color: #eb3b86;
$link-color: #eb3b86;
$link-color-hover: #db036a;
$button-color: #eb3b86;
$button-color-border: #d31666;
$button-color-active: #cc0066;
$heading-color: #333;
$label-color-background: #fcfcfc;
$label-color-border: #e6e6e6;
$label-color-background-focus: #fff;
$label-color-border-focus: #ccc;